.container{
        display: grid;
        justify-content: center;
        align-items: center;
        padding:2rem;
        /* border-radius: 2rem; */
        width: 20rem;
        margin-inline:auto;

        color:white;
        background-color: #4A6145;
        /* font-family: u.$login-font; */

        
}
.form__label{
    /* position: absolute; */

font-family: 'Quicksand', sans-serif;
font-style: normal;
/* font-weight: 400;
font-size: 24px;
line-height: 30px; */
}
.form__input{
    /* position: absolute; */

    background: #FFFFFF;
    
    /* border-radius: 30px; */
}
body{
    background-color: #A2bf9b;
}


.form__label{
    display: block;
}
.form__green{
    color: green;
}

.form__button{
    /* border-radius: 10rem; */

}

.create-check{
    display:grid;
    grid-template-columns: 1fr 1fr;
}

.header--box{


    left: 0px;
    top: 0px;
    height: 6em;
    margin: 0px;
    padding: 0px;
    margin-top:2em;
 


    background: #FEFDFD;
}

.form__button{
    border-radius: 0rem;
    text-decoration: none;

    /* width: 342px;
    height: 81px;
    left: 827px;
    top: 589px; */
    
    
    padding-right: 2em;
    padding-left: 2em;
    padding-top:0em;
    padding-bottom:0em;

    background: #A2BF9B;
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 49px;

    color: #FEFDFD;
}


