.container{
        display: grid;
        justify-content: center;
        align-items: center;
        padding:2rem;
        border-radius: 2rem;
        width: 20rem;
        margin-inline:auto;

        color:white;
        background-color: #4A6145;
        /* font-family: u.$login-font; */

        
}

.error__message{
    color:pink;
    
}
h2{
    font-size: 3em;
}

.create-check{
    justify-content: center;
    align-items: center;
}
.form__message{
    color:red;
    background-color: white ;
    font-family: 'Gudea', sans-serif;
    border-radius: 2em; 

}
.login--link{
    text-decoration: none;
    color: black;
}
.center {
    margin: auto;
    text-align: center;
    align-items: center;
    width: 100%;
    margin: auto;
    /* width: 20%; */
    /* border: 3px solid green;
    padding: 10px; */
  }
.form__label{
    /* position: absolute; */

    font-family: 'Gudea', sans-serif;
    font-size: 1.7em;
    
font-style: normal;
align-self: center;

/* font-weight: 400;
font-size: 24px;
line-height: 30px; */
}

.form__input{
    /* position: absolute; */
    align-items: center;
    width: 25em;
    height: 2em;
    background: white;
    text-align: center;
    align-self: center;
    margin: auto;
    border-radius: 30px; 
}
body{
    background-color: #A2bf9b;
    font-family: 'Gudea', sans-serif;
}

.form__group{
    flex: 1;
    justify-items: 'center';
    align-items: 'center';
}

.form__label{
    display: block;
}
.form__green{
    color: green;
}

.form__button{
    /* border-radius: 10rem; */

}

.create-check{
    display:grid;
    grid-template-columns: 1fr 1fr;
}

.header--box{


    left: 0px;
    top: 0px;
    height: 6em;
    margin: 0px;
    padding: 0px;
    margin-top:2em;
 


    background: #FEFDFD;
}

.form__button{
    border-radius: 1rem;
    text-decoration: none;
    font-family: 'Gudea', sans-serif;

    /* width: 342px;
    height: 81px;
    left: 827px;
    top: 589px; */
    
    
    padding-right: 2em;
    padding-left: 2em;
    padding-top:0em;
    padding-bottom:0em;

    background: #A2BF9B;

    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 49px;

    color: #FEFDFD;
}


