html {
    font-family: "Calibri";
}

body {
    font-family: 'Gudea', sans-serif;
    background-color: #A2BF9B;
    color:  rgb(62, 91, 73);;
    margin: 2in;
    line-height: 2;
  }

h1 {
    font-family: 'Fredoka', sans-serif;
    color: rgb(28, 28, 28);
    text-align: center;
  }

.rectangle {
    width: 100px;
    height: 100px;
    background-color: rgb(36, 58, 36);
    margin: 1.5in;
}