html {
    font-family: "Calibri";
}

body {
    font-family: 'Gudea', sans-serif;
    background-color: #A2BF9B;
    color:  rgb(62, 91, 73);;
    margin: 2in;
    line-height: 2;
  }

h1 {
    font-family: 'Fredoka', sans-serif;
    color: rgb(28, 28, 28);
    font-size: 3rem;
    text-align: center;
  }
  .columns {
    display: flex;
    justify-content: space-between;
    margin: 2rem 0;
  }
  .column1 {
    text-align: center;
    justify-content: center;
    width: 60%;
    padding: 1rem;
  }
  .column2 {
    text-align: center;
    justify-content: center;
    width: 35%;
    padding: 1rem;
  }
ul li{
  color: rgb(20, 24, 21);
}
h2{
  font-size: 1.5rem
}
.image {
  margin-top: 6%;
  margin: 2%;
  height: 30rem;
  width: 30rem;
}
.rectangle {
    width: 100px;
    height: 100px;
    background-color: rgb(36, 58, 36);
    margin: 1.5in;
}

ul{
  list-style-position: inside
}