

html {
    font-family: "Calibri";
}

h2 {
    font-family: 'Gudea', sans-serif;
   
    background-color: #A2BF9B;
    color: rgb(62, 91, 73);
    margin: 2in;
    line-height: 2;
    text-align: center;
  }

h1 {
    font-family: 'Fredoka', sans-serif;
    color: rgb(28, 28, 28);
    text-align: center;
  }