html {
    font-family: "Calibri";
}

body{
    margin: 0;

}

nav{
    padding: 1em;
    background-color: black;
    display: flex;
    gap: 1em;
    align-items: center;
    color: white;
}

div{
    margin: 1em;
}